.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    margin: 100px 42px;
}
@media (max-width: 768px) {
    .gallery {
    flex-direction: column;
    }
    }
