.card{
display: flex;
background: linear-gradient(180deg, rgba(151, 0, 0, 0.877) 0%, rgba(0, 0, 0, 0.721) 100%);
width: 30%;
margin: 15px;
height: 340px;
}
.cardtext{
    align-items: center;
    color: white;

}
@media (max-width: 768px) {
    .card{
        width: 100%;
        height: 255px;
    }
}