.collapse{
    width: 33%;
    margin: 30px;
    border: solid;
    border: 5px;
    border-color: black;
}
.collapse-header{
    background-color: #FF6060;
   
   
}
.title{
    color: white;
}
.collapsetxt{
    background-color: #F6F6F6;
    
}